<div class="cont">
<div class="container">
 
    <mat-card class="card" (click)="navigateTo('main/students')">
      <mat-card-header>
        <mat-card-title>Listado General de Estudiantes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Aquí se mostrará el listado de estudiantes.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" (click)="navigateTo('courses')">
      <mat-card-header>
        <mat-card-title>Listado de Estudiantes por Cursos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Aquí se mostrará el listado por cursos.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>