<!-- eslint-disable prettier/prettier -->
<div class="cont">
    <div class="container" >
        <mat-card>
            <mat-card-header>
              <mat-card-title>Listado de Cursos</mat-card-title>
    <button mat-raised-button color="primary" (click)="addCourse()">Agregar Curso</button>
</mat-card-header>
<mat-card-content>
    <table mat-table [dataSource]="courses" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let course"> {{course.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let course"> {{course.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let course">
          <button mat-button color="accent" (click)="editCourse(course.id)"><i class="fas fa-edit"></i></button>
          <button mat-button color="warn" (click)="deleteCourse(course.id)"> <i class="fas fa-trash-alt"></i></button>
          <button mat-button color="accent" (click)="seeCourse(course.id)"><i class="fas fa-folder-open"></i></button>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card-content>
</mat-card>
</div> </div>